{% extends "base.html" %}
{% block content %}

 <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
   <thead>
     <tr>
       <th>restaurant_id</th>
       <th>name</th>
        <th>cuisine</th>
        <th>borough</th>

      </tr>
 </thead>
 <tfoot>

     <td colspan="4">
      <center> <div class="btn-group btn-group-sm text-center">
         <button type="button" class="btn btn-success" id="add" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" ></span> </button>
         <button type="button" id="modi" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil" ></span> </button>
         <button type="button" id="remove" class="btn btn-warning"  ><span class="glyphicon glyphicon-trash"></span></button>

       </div></center>
     </td>



 </tfoot>

</table>


{% endblock %}
