{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">Registrarse</div>
    <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
  </div>
  <div style="padding-top:30px" class="panel-body">
    <form role="form" class="form-horizontal" method="post" action=".">
      <div  class="form-group">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <div class="col-md-4">

        </div>

    </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">

          </div>
          <div class="col-md-2">

            <button type="submit" class="btn btn-success btn-lg">{% trans 'Submit' %}</button>

          </div>
          <div class="col-md-5">

          </div>
        </div>

      </div>
    </form>
    </div>
  </div>
{% endblock %}
